* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background-image {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(../images/it_2017-8.jpg);
  background-position: center;
}

.show_header {
  position: fixed;
  z-index: 1;
  top: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 24px;
  cursor: pointer;
}

.show_header .show_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 17%;
  border-radius: 241px;
  overflow: hidden;
  background: white;
}

.show_header .show_row .show_inner {
  width: 0px;
  background: #5e0c5e;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.show_header .show_row:nth-child(3n + 1) .show_inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.show_header .show_row:nth-child(3n + 2) .show_inner {
  -webkit-transition-delay: .10s;
          transition-delay: .10s;
}

.show_header .show_row:nth-child(3n + 3) .show_inner {
  -webkit-transition-delay: .20s;
          transition-delay: .20s;
}

.show_header:hover .show_inner {
  width: 100%;
}

#show_header {
  display: none;
}

#show_header:checked + .header .header_bg {
  left: 0;
  opacity: 1;
}

#show_header:checked + .header .header_nav_item {
  opacity: 1;
  right: 0;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100px;
  width: 100vw;
}

.header_bg {
  position: absolute;
  left: -100vw;
  z-index: -1;
  height: 63px;
  width: 100vw;
  background: #1c1038;
  opacity: .5;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header_nav {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav_item {
  position: relative;
  right: -50px;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  text-decoration: none;
  color: white;
  opacity: 0;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.header_nav_item:hover {
  color: #b107f3;
}

.fict_header {
  height: 100px;
}

.wrapper_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper_block .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -114px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper_block p {
  margin-top: 10px;
  color: black;
}

.wrapper_block:nth-child(even) {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: -15px;
  padding: 25px;
}

.wrapper_block:nth-child(odd) {
  min-height: 100vh;
}

.wrapper_block #mw {
  position: relative;
  top: -31px;
  left: 86%;
  color: whitesmoke;
}

.wrapper_block .my_works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
}

.wrapper_block .my_works_item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
  width: 80px;
  height: 80px;
  background: whitesmoke;
}

.wrapper_block .my_works_item a {
  font-size: 16px;
}

.wrapper .animate_block_mouse {
  position: relative;
  padding-top: 76px;
  -webkit-animation-name: toggle;
          animation-name: toggle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes toggle {
  0% {
    top: -20px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: -16px;
  }
}

@keyframes toggle {
  0% {
    top: -20px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: -16px;
  }
}
/*# sourceMappingURL=index.css.map */